.about__container {
    min-height: 78vh;
    max-width: 100%;
    padding: 1.5rem;
}

.about__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.about__subtitle{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-weight: bold;
    color: rgb(61, 61, 61); 
}