.card__container {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    width: 100%;
}

.card {
    border: 1px solid;
    color: rgb(0, 0, 0);
    width: 12rem;
    height: 26rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 48.5vh;
    width: 100%;
}
.card__title {
    width: 90%;
    padding: .4rem 0;
    margin: .5rem 0;
    font-size: 16.5px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(210, 231, 231);
}
.card__image {
    margin: 0.5rem 0;
    width: 10.5rem;
    height: 16.5rem;
    object-fit: cover;
    filter: contrast(70%);
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__footer {
    margin: 0;
    width: 100%;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
}
.card__text {
    text-align: center;
    margin: 0.1rem;
    font-size: 12px;
}
.card__footer .card__text:first-child {
    width: 40%;
}
.card__footer .card__text:nth-child(2) {
    width: 60%;
}

.card__link {
    text-decoration: none;
    color: inherit;
    margin: 9px;
    &:hover {
        transform: scale(1.05);
        .card__image {
            filter: contrast(100%);
          }
    }
}