.home {
    min-height: 78vh;
    max-width: 100%;
    padding: 1.5rem;
}

.home__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 10px 0;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    height: 8vh;
    margin: 0;
    align-items: center;
}
.home__title p {
    margin: 0
}
.home__title i {
    margin: 0 .6rem;
    font-size: 2rem;
    color: rgb(155, 155, 155);
}

.section__title{
    margin: 0 1rem;
    font-size: 20px;
    font-weight: bold;
    color: rgb(53, 53, 53); 
    display: flex;
    align-items: center;
}
.section__title::before,
.section__title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #828282;
    margin: 0 1rem;
}