{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block headAdd %}
<link rel="stylesheet" href="{% static 'web_MangaC/style/about.css' %}">
{% endblock %}

{% block content %}

<body>
    <div class="about__container">
        <div class="about__info">
            <h1 class="about__title">Acerca de</h1>
            <p>Grupo en Desarrollo</p>
        </div>
        <br>
        <div class="about-contact">
            <h2 class="about__subtitle">Contactanos</h2>
            <p>Escriba a nuestro correo:</p>
            <ul>
                <li><a href="#">jpincay8421@utm.edu.ec</a></li>
                <li><a href="#">jzambrano8531@utm.edu.ec</a></li>
                <li><a href="#">nzambrano8605@utm.edu.ec</a></li>
                <li><a href="#">apalma8824@utm.edu.ec</a></li>
                <li><a href="#">jzambrano8531@utm.edu.ec</a></li>
                <li><a href="#">jvergara2627@utm.edu.ec</a></li>
            </ul>
        </div>

    </div>
</body>
{% endblock %}