{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block headAdd %}
<link rel="stylesheet" href="{% static 'web_MangaC/style/capitulos.css' %}">
{% endblock %}

{% block content %}

<body>
    <div class="cap__container">
        <H1>Capitulos </H1>
        <br>
        <h3><b>{{ manga.nombre }}</b></h3>

        <ul>
            {% for cap in capitulos %}
            <li>Capitulo #{{ cap.num_capitulo }}
                {% if cap.titulo %}
                - {{ cap.titulo }}
                {% endif %}
                <!--<a href="{{ capitulo.pdf.url }}" target="_blank">Ver PDF</a>
                <p>No hay PDF disponible para este capítulo.</p>-->
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}