{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block headAdd %}
<link rel="stylesheet" href="{% static 'web_MangaC/style/home.css' %}">
<link rel="stylesheet" href="{% static 'web_MangaC/style/card.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <h1 class="home-title">Bienvenido 🐉</h1><br>
    <section>
        <h2 class="home-subtitle">Mangas disponibles </h2>
        <div class="card-container">
            {% for manga in mangas %}
            <a href="{% url 'chapter' %}" class="card-link">
                <div class="card">
                    <div class="card-content">
                        <h3 class="card-title">{{ manga.nombre }}</h3>
                        <img src="{{ manga.portada.url }}" alt="Portada de {{ manga.nombre }}" class="card-image">
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><b>Genero:</b> {{ manga.genero_principal.nombre }}</p>
                        <p class="card-text"><b>Autor:</b> {{ manga.autor.nombre }} {{ manga.autor.apellido }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    
    </section>
</div>
{% endblock %}