{% extends 'web_MangaC/layouts/base.html' %}


{% block content %}

<body>
    <div class="container">
        <div class="container-title">
            <h1>Bienvenido</h1>
        </div>
        <div class="container-Texto">
            <p>Mangas disponibles</p>

            <ul>
                {% for manga in mangas %}
                <li>{{ manga.Nombre }} <br>
                    Genero:{{manga.Genero.Nombre}} <br>
                    Autor:{{manga.Autor.Nombre}} {{manga.Autor.Apellido}}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</body>

{% endblock %}