{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block content %}

<body>
    <H1>Capitulos </H1>

    <ul>
        {% for manga in mangas %}
        <li>
            <h3><b>{{ manga.Nombre }}</b></h3>
            <ul>
                {% for capitulo in capitulos %}
                {% if capitulo.Manga_id == manga.ID %}
                <li>
                    {{ capitulo.Num_capitulo }} - {{ capitulo.titulo}}
                    {% for contenido in contenidos %}
                    {% if capitulo.id == contenido.capitulo_id %}
                        {% if contenido.pdf %}
                            <a href="{{ capitulo.pdf.url }}" target="_blank">Ver PDF</a>
                        {% else %}
                            <p>No hay PDF disponible para este capítulo.</p>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

</body>
{% endblock %}