{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'web_MangaC/style/login_signup.css' %}">
</head>

<body>
  <div class="container">
    <div class="form login">
      <h1>Iniciar Sesión</h1>
      <form action="/" method="post">
        <input type="email" class="login-campo" autocomplete="off" autofocus="true" required
          placeholder="email@example.com" />
        <input type="password" class="login-campo" autocomplete="off" required placeholder="Contraseña" />
        <p><a href="#">¿Olvidaste tu contraseña? </a>
          <a href="{% url 'signup' %}"> Crear cuenta Nueva</a>
        </p>
        <input type="submit" value="Acceder" class="button login-button" />
      </form>
    </div>
  </div><!-- formulario-->
  </div>

</body>
{% endblock %}