{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'web_MangaC/style/login_signup.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="form signup">
            <h1>Regístrate en "web_MangaC"</h1>
            <form method="post">
                {{ form }}
                <input type="submit" value="Crear Cuenta" class="button signup-button" />
            </form>
        </div><!-- formulario-->
    </div>

    <script>
        $(document).ready(function(){
            $(".signup form div").addClass("signup-container");
        });
    </script>

</body>
{% endblock %}