{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono y Nombre -->
    <link rel="icon" href="{% static 'web_MangaC/image/logo.ico' %}">
    <title>MangaC</title>
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/0fb473f9ca.js" crossorigin="anonymous"></script>
    <!-- Hojas de Estilo -->
    <link rel="stylesheet" href="{% static 'web_MangaC/style/base.css' %}">
    {% block headAdd %}{% endblock %}
</head>

<body>
    <!-- Menú Principal -->
    <header>
        <nav class="navbar">
            <ul class="navbar__links">
                <li class="navbar__links--item"><a href="{% url 'home' %}">
                        <i class="fa-solid fa-house"></i>
                        <p>Inicio</p>
                    </a></li>
                <li class="navbar__links--item"><a href="{% url 'about' %}">
                        <i class="fa-solid fa-circle-info"></i>
                        <p>Acerca de</p>
                    </a></li>
            </ul>
            <h1 class="navbar__logo">
                <span>MangaC</span>
                <img src="{% static 'web_MangaC/image/logo.ico' %}" alt="logo">
                <span>Star</span>
            </h1>
            <div class="navbar__links">
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="navbar__button--logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Cerrar Sesión</p>
                    </button>
                </form>
                {% else %}
                <a class="navbar__button--login" href="{% url 'login' %}"><i class="fa-solid fa-user"></i>
                    <p>Identificarse</p>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>
    <!-- Contenido de la página -->
    {% block content %}{% endblock %}

    <footer class="footer">
        <p>© 2024 Dark_Knigth. All rights reserved</p>
    </footer>
</body>

</html>