{% extends 'web_MangaC/layouts/base.html' %}
{% load static %}

{% block headAdd %}
<link rel="stylesheet" href="{% static 'web_MangaC/style/login_signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="form login">
    <h1 class="form-title">Iniciar Sesión</h1>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Usuario", maxlength="150" required id="id_username" class="login-campo">
      <input type="password" name="password" placeholder="Contraseña", required id="id_password" class="login-campo">
      {% if form.errors %}
        <div class="login-error">
            <i class="fa-solid fa-circle-exclamation"></i>
            <b>Error:</b> Usuario o contraseña incorrecto. <br>
            Por favor, inténtelo de nuevo.</div>
      {% endif %}
      <div class="login-urls">
        <a href="#">¿Olvidaste tu contraseña? </a>
        <a href="{% url 'signup' %}"> Crear cuenta Nueva</a>
      </div>
      <input type="submit" value="Acceder" class="login-button" />
    </form>
  </div>
</div><!-- formulario-->
</div>
{% endblock %}